<!DOCTYPE unspecified PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>MercadoLibre workshop - MediaParty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <h1>Bienvenido bla bla</h1>
    <form method="post" action="@routes.Application.map()">
	    <p>Nickname:</p><input name="nickname" type="text"/>
	    <p>Hashtags:</p><input name="hashes" type="text"/><br>
    	<input type="submit" value="Abrir" />
	</form>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="assets/javascripts/bootstrap.min.js"></script>
  </body>
</html>
